<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../vue.js"></script>
</head>

<body>
  <div id="app">
    <div>
      <input type="text" v-model="list">
      <button v-show="chan == index" @click="sgin ? add() : up()" v-for="(item,index) in btn">{{item}}</button>
      <span>{{errorMsg}}</span>
    </div>
    <ul>
      <li v-for="(item,index) in lists">{{item}}-----<a href="javascript:;"
          @click="edit(index)">修改</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:;" @click="del(index)">删除</a></li>
    </ul>
  </div>
</body>
<script>
  new Vue({
    el: '#app',
    data: {
      btn: ['添加', '修改'],
      lists: ['html', 'css', 'js', 'jquery', 'vue'],
      chan: 0,
      sgin: true,
      list: '',
      errorMsg: '',
      editIndex: 0
    },
    methods: {
      //添加
      add() {
        if (!this.list) {
          this.errorMsg = '不能为空';
          setTimeout(() => {
            this.errorMsg = ''
          }, 1000)
          return;
        }
        if (this.lists.indexOf(this.list) === -1) {
          this.lists.push(this.list);
          this.errorMsg = '';
          this.list = '';
          return;
        }
        this.list = '';
        this.errorMsg = '已存在！！！';
        setTimeout(() => {
          this.errorMsg = '';
        }, 1000)
      },
      //修改切换
      edit(index) {
        this.list = this.lists[index];
        this.chan = 1;
        this.sgin = false;
        this.editIndex = index;
      },
      //修改功能
      up() {
        console.log(this.list)
        if (this.list) {
          // if (confirm('sure?')) {
            if (this.lists.indexOf(this.list) === -1) {
              this.lists.splice(this.editIndex, 1, this.list);
              this.list = '';
              alert('修改成功！！！');
              this.chan = 0;
              return;
            } else {
              this.errorMsg = '已存在！！！';
              setTimeout(() => {
                this.errorMsg = '';
              }, 1000)
              return;
            }
          // }
        } else {
          this.errorMsg = '不能为空！！！';
          setTimeout(() => {
            this.errorMsg = '';
          }, 1000)
        }
      },
      //删除
      del(index) {
        // console.log(this.lists[index])
        if (confirm('sure?')) {
          this.lists.splice(index, 1)
        }
      }

    }
  })
</script>

</html>