body {
    margin: 0;
    padding: 0;
    font: .14rem "Helvetica Neue",Helvetica,STHeiTi,sans-serif;
    color: #494949;
    background: #fafafa;
    min-width: 3.2rem;
    line-height: 1;
}
a {
    text-decoration: none;
    color: #333;
    .big-wrap {
        display: -webkit-box;
    }
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: 400;
}
section {
    display: block;
    .clamp5 {
        -webkit-line-clamp: 5;
    }
    .sdinfo {
        position: relative;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .clamp3 {
        -webkit-line-clamp: 3;
        .show {
            display: block;
        }
        .arr {
            background: url("../imgs/dowm-arrow.png");
            background-repeat: no-repeat;
            background-size: .22rem .12rem;
            width: .48rem;
            height: .34rem;
            margin-left: .3rem;
            right: 0;
            bottom: -.04rem;
            padding-left: .16rem;
            position: absolute;
            background-color: #fff;
            background-position: .2rem .1rem;
        }
    }
    .sddisc {
        margin: .16rem 0;
        position: relative;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: .28rem;
        line-height: .44rem;
    }
}
.sdinofbox {
    background: #f8f8f8;
    padding: .24rem .32rem;
    font-size: .28rem;
    line-height: .44rem;
    border-bottom: 1px solid #f3f3f3;
}
.listsmall-ul {
    overflow: hidden;
    background-color: #fff;
    li {
        border-bottom: 1px solid #f3f3f3;
        padding: .32rem .32rem .32rem 0;
        margin-left: .32rem;
    }
    .listbook-cove {
        margin-right: .32rem;
        width: 1.12rem;
        height: 1.48rem;
        position: relative;
        overflow: hidden;
        background: url(http://c-shuqi.11222.cn/assets/default-book_8d24e62.jpg);
        background-size: 1.12rem 1.48rem;
        .book-cover-img {
            display: block;
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            min-width: 100%;
            min-height: 100%;
            height: 100%;
        }
    }
    .listbook-info {
        -webkit-box-flex: 1;
        h3 {
            color: #333;
            font-size: .32rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
            height: .36rem;
            line-height: .36rem;
            margin-bottom: .22rem;
        }
        p {
            font-size: .24rem;
            color: #999;
            line-height: .3rem;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            word-break: break-all;
            max-height: 100%;
            height: .32rem;
        }
        .book-tag {
            font-size: 0;
            margin-top: .22rem;
            height: .4rem;
            overflow: hidden;
            line-height: .34rem;
            span {
                font-size: .2rem;
                height: .34rem;
                line-height: .36rem;
                border: 1px solid rgba(153,153,153,.3);
                border-radius: .04rem;
                padding: 0 .12rem;
                margin-right: .08rem;
                padding-top: .01rem;
                color: #999;
                display: inline-block;
            }
            .wj {
                color: #00c98d;
                border-color: rgba(0,201,141,.3);
            }
            .lz {
                color: #499fff;
                border-color: rgba(73,159,255,.3);
            }
        }
    }
}