@import '/css/modules/indexHeader.css';
@import '/css/modules/footer.css';
@import '/css/modules/indexBanner.css';
@import '/css/modules/indexProduct.css';
img{
  width: 100%;
}
.title{
  h2{
    margin-top: 50px;
    margin-bottom: 0;
  }
}
.guanzhu{
  margin: 35px 0;
  p{
    font-weight: 300;
    font-size: 25px;
    a{
      font-size: 25px;
      span{
        margin: 0 5px;
        padding: 0 5px;
      }
    }
  }
}
