.bg{
  width: 100%;
  height: 100%;
  background-color: #cccc;
  background: url('/images/bglogin.jpg') no-repeat;
  background-size: 100% 100%;
  .login{
    width: 400px;
    height: 300px;
    padding: 50px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: #ffffff;
    .logo{
      width: 130px;
      height: 30px;
      margin-bottom: 20px;
      background-color: #ffffff; 
      a{
        img{
          width: 100%;
        }
      }
    }
    h2{
      margin: 10px 0;
      font-size: 35px;
    }
    input[type="text"]{
      margin: 20px 0;
      width: 100%;
      height: 10%;
      outline-style: none;
      border-bottom: 1px solid #000000;
    }
    input[type="password"]{
      margin: 20px 0;
      width: 100%;
      height: 10%;
      outline-style: none;
      border-bottom: 1px solid #000000;
    }
    button{
      width: 40%;
      height: 10%;
      margin: 0 15px;
      margin-top: 50px;
      border-radius: 5px;
      outline-style: none;
      a{
        display: block;
        width: 100%;
        height: 100%;
      }
      &:hover{
        background-color: deepskyblue;
      }
    }
  }
}