.el-alert {
  width: 100%;
  padding: 8px 16px;
  margin: 0;
  box-sizing: border-box;
  border-radius: 4px;
  position: relative;
  background-color: #fff;
  overflow: hidden;
  opacity: 1;
  display: flex;
  align-items: center;
  transition: opacity .2s;
  margin: 20px 0 0;
}

.el-alert--success.is-light {
  background-color: #f0f9eb;
  color: #67c23a;
}

.el-alert__content {
  display: table-cell;
  padding: 0 8px;
}

.el-alert__title.is-bold {
  font-weight: 700;
}

.el-alert__title {
  font-size: 13px;
  line-height: 18px;
}

.el-alert--success.is-light .el-alert__description {
  color: #67c23a;
}

.el-alert .el-alert__description {
  font-size: 12px;
  margin: 5px 0 0;
}

.el-alert--info.is-light {
  background-color: #f4f4f5;
  color: #909399;
}

.el-alert--warning.is-light {
  background-color: #fdf6ec;
  color: #e6a23c;
}

.el-alert--error.is-light {
  background-color: #fef0f0;
  color: #f56c6c;
}