*{
    margin: 0;
    padding: 0;
}
.box{
    width: 600px;
    height: 400px;
    margin: 50px auto; 
    position: relative;
    background-color: #cccc;
    font-size: 50px;
    text-align: center;
    line-height: 400px;
    color: red;
}
.box1{
    font-size: 16px;
    width: 80%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 50px;
    z-index: 9;
    background-color: blanchedalmond;
}
span{
    float: left;
    width: 40px;
    text-align: center;
    height: 40px;
    line-height: 40px;
}
ul{
    float: left;
}
ul li{
    float: left;
    list-style: none;
    margin: 0 10px;
    width: 60px;
    text-align: center;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}