<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="../vue.js"></script>
</head>

<body>
    <div id="app">
        <div>
            <input type="text" v-model="list">
            <input type="button" @click="sign ? add() : up()" :value="sign ? btn[0] : btn[1]"></input>
            <span>{{errorMsg}}</span>
        </div>
        <ul>
            <div><input type="checkbox" v-model="allCheck">全选：</div>
            <li v-for="(item,index) in lists" :key='index'>
                <input type="checkbox" v-model="check" :value="item.id">
                {{item.name}}-----
                <a href="javascript:;" @click="edit(item.id)">修改</a>
                &nbsp;&nbsp;
                <a href="javascript:;" @click="del(item.id)">删除</a>
            </li>
        </ul>
    </div>
</body>
<script>
    let lists = [{
            id: 1,
            name: 'html'
        },
        {
            id: 2,
            name: 'css'
        },
        {
            id: 3,
            name: 'js'
        },
        {
            id: 4,
            name: 'jquery'
        },
        {
            id: 5,
            name: 'node'
        },
        {
            id: 6,
            name: 'vue'
        },
    ]
    var app = new Vue({
        el: '#app',
        data: {
            btn: ['添加', '修改'],
            lists: lists,
            sign: true,
            list: '',
            errorMsg: '',
        },
        computed: {
            allCheck() {

            },
            check() {

            }
        },
        methods: {
            add() {
                if (!this.list) {
                    this.errorMsg = '不能为空';
                    setTimeout(() => {
                        this.errorMsg = ''
                    }, 1000)
                    return;
                }
                this.lists.forEach((item,index) => {
                    
                })
                this.lists.push({id:this.lists[this.lists.length-1].id+1,name:this.list})
            },
        }
    })
</script>

</html>